.text-blue{
    color: rgb(29, 29, 172);
}

.text-crimson{
    color: rgb(232, 68, 71);
}

.table-list {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

.max800{
    max-width: 800px;
    margin: 0 auto;
}