<div class="container-fluid " >
    <!-- Top Content -->
    <app-nav />
    <div class="text-center mb-4 max800">
        <!-- pc view -->
        <h1 class="display-3 fw-bold d-none d-md-block">Reset Password</h1>
        <!-- mobile view -->
        <h3 class="display-3 fw-bold d-md-none">Reset Password</h3>
    </div>



    <!-- Personal Details Form -->
    <div class="card shadow-sm mb-4 max800" *ngIf="modeView=='UserInput'">
        <div class="card-header bg-base text-white">
            <h5 class="m-0">Create New Password</h5>
        </div>
        <div class="card-body">
            <div>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <label class="form-control">{{user.full_name}}</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <label class="form-control">{{user.email}}</label>
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <div class="input-group mb-3">
                        <input type="password" id="newPassword" class="form-control" [(ngModel)]="password.new" name="newPassword" required>
                        <!-- Right icon for success check -->
                        <span class="input-group-text bg-transparent border-1">
                          <i *ngIf="isMatch(password.new, password.confirm)" class="bi bi-check-circle-fill text-success"></i>
                          <i *ngIf="!isMatch(password.new, password.confirm)" class="bi bi-x-circle-fill text-warning"></i>
                        </span>
                    </div>
                    
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                    <div class="input-group mb-3">
                        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="password.confirm" name="confirmPassword" required>
                        <!-- Right icon for success check -->
                        <span class="input-group-text bg-transparent border-1">
                            <i *ngIf="isMatch(password.new, password.confirm)" class="bi bi-check-circle-fill text-success"></i>
                            <i *ngIf="!isMatch(password.new, password.confirm)" class="bi bi-x-circle-fill text-warning"></i>
                          </span>
                    </div>
                </div>
                <!-- Save Changes Button -->
                <div class="text-center">
                    <button class="btn bg-alt px-5 py-2" (click)="createNewPassword()">Update Password</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-4 max800" *ngIf="modeView!='UserInput'">
        <div class="card-header bg-base text-white">
            <h5 class="m-0">Info</h5>
        </div>
        <div class="card-body">
            <div>
                <div class="mb-3">
                    <!-- pc view -->
                    <h4 class="display-3  d-none d-md-block">{{message_output}}</h4>
                    <!-- mobile view -->
                    <h5 class="display-3  d-md-none">{{message_output}}</h5>
                    
                </div>  
            </div>
        </div>
    </div>
</div>