/* Optional additional styling */
.paging-filter {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table thead th {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  .bg-base{
    background-color: rgb(255, 99, 99);
    color:azure
  }
  
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  .max800{
    max-width: 800px;
    margin: 0 auto;
}