  
  
  .bg-purple-gradient {
    background: linear-gradient(to top, rgb(244, 210, 210), rgb(255, 252, 252));
    // disable
    // background: linear-gradient(to top, rgb(255, 252, 252), rgb(255, 252, 252));

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(41, 38, 38);
  }
  
  .list-teacher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 18rem;
    margin: 1rem;
  }
  
  .card img {
    height: 300px;
    object-fit: cover;
  }
  
  .abs-overlay{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background: rgba(0, 0, 0, 0.3); 
    color: white; 
    padding: 10px;
  }


  footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 20px 0;
  
    .footer-wrapper {
      max-width: 680px;
      margin: 0 auto;
    }
  
    h5 {
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    ul {
      padding: 0;
      list-style: none;
  
      li {
        margin-bottom: 10px;
  
        a {
          color: #ccc;
          text-decoration: none;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  
    .list-unstyled.d-flex {
      display: flex;
      gap: 20px;
  
      i {
        margin-right: 5px;
      }
    }
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .teacher-image {
    transition: transform 0.5s ease;
    width: 100%;
    height: auto;
  }
  
  .image-container:hover .teacher-image {
    transform: scale(1.1); /* Zooms in by 10% */
  }
  
  .search {
    width: 50%; 
  }

  @media (max-width: 600px) {
    .search {
      width: 100%; 
    }
  }