<div class="container-fluid">
    <!-- Top Content -->
    <app-nav></app-nav>
  
    
  
    <!-- Mid Content -->
    <div class="row body">
    <div class="col-12">
      <div class="text-center p-5 content-box bg-purple-gradient">
        <!-- pc view -->
        <h1 class="display-3 fw-bold d-none d-md-block">
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.25) }"
          >Finding&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.5) }"
          >the&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.75) }"
          >Perfect&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(1) }"
          >Japanese&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(1.25) }"
          >Tutor</span>
        </h1>
        <!-- mobile view -->
        <h3 class="display-3 fw-bold d-md-none">
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.25) }"
          >Finding&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.5) }"
          >the&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(0.75) }"
          >Perfect&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(1) }"
          >Japanese&nbsp;</span> 
          <span 
            [ngClass]="{ 'fade-slide-in': true }" 
            [ngStyle]="{ 'animation-delay': getAnimationDelay(1.25) }"
          >Tutor</span>
        </h3>
        
        <p class="lead"
        [ngClass]="{ 'slide-in': true }" 
        [ngStyle]="{ 'animation-delay': getAnimationDelay(1.5) }"
        >Expand your horizons and unlock the full potential</p>
        <!-- Search Input -->
        <div class="mt-4">
          <div class="input-group search mx-auto">
            <input 
              type="text" 
              class="form-control" 
              [(ngModel)]="searchTerm" 
              placeholder="Search by teacher name...">
            
            <!-- Clear button appears when searchTerm is not blank -->
            <ng-container *ngIf="searchTerm">
              <button 
                class="btn btn-danger" 
                type="button" 
                (click)="searchTerm = ''">
                &times; <!-- Cross symbol -->
              </button>
            </ng-container>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
    <!-- List Teacher Content -->
    <div class="row">
      <div class="col-12 text-center p-3">
        <ng-container *ngIf="filteredTeachers().length > 0; else noResults">
          <!-- pc view -->
          <h2 class="d-none d-md-block m-0">List Teacher</h2>
          <!-- mobile view -->
          <h3 class="d-md-none m-0">List Teacher</h3>
        </ng-container>
        
        <ng-template #noResults>
          <h2 class="d-none d-md-block">No teachers found</h2>
          <h3 class="d-md-none">No teachers found</h3>
        </ng-template>
      </div>
      <div class="list-teacher d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let teacher of teachers; let i = index">
          <!-- Filter teachers based on searchTerm -->
          <ng-container *ngIf="!searchTerm || (teacher.name.toLowerCase().includes(searchTerm.toLowerCase()))">
            <div 
              class="card m-3 fade-in" 
              style="width: 18rem; position: relative;"
              [ngClass]="{ 'fade-slide-in': true }"
              [ngStyle]="{ 'animation-delay': getAnimationDelay(i * 0.2) }"  
            >
              <!-- Image Container -->
              <div class="image-container" style="position: relative; overflow: hidden;">
                <img [src]="teacher.profile_pic" class="card-img-top teacher-image" alt="{{ teacher.name }}">
                <!-- <img  class="card-img-top teacher-image" alt="{{ teacher.name }}"> -->
                <!-- Text Overlay -->
                <div class="abs-overlay">
                  <h5 class="mb-0">{{ teacher.name }}</h5>
                  <p class="mb-0"><strong>Location:</strong> {{ teacher.location }}</p>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <p class="card-text"><strong>Status:</strong> {{ teacher.status }}</p>
                <p class="card-text">{{ teacher.description }}</p>
                <a [routerLink]="['/detail', teacher.id]" class="stretched-link"></a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    
    <div class="container mb-5">
      <!-- blocks 1 About Us-->
      <!-- id section-0, color x, image order-md-1, text order-md-2 -->
      <div class="row content-block bg-color-x"  id="section-0" *ngIf="homeData.content_about_us_desktop">
                  <!-- Desktop view: Image on the left, Text on the right -->
                  <div class="col-md-6 d-none d-md-block order-md-1">
                    <img [src]="homeData.image_about_us_desktop" class="img-fluid" alt="Content Image">
                  </div>
                  <div class="col-md-6 content-center d-none d-md-block order-md-2">
                    <div class="card mx-auto fade-in"> <!-- Center card on mobile -->
                      <div class="card-body">
                        <h4 class="card-title">About Us</h4>
                        <p class="card-text" [innerHTML]="homeData.content_about_us_desktop"></p>
                      </div>
                    </div>
                  </div>
              
                  <!-- Mobile view: Image above, Text below -->
                  <div class="col-12 d-block d-md-none">
                    <div class="card mx-auto fade-in">
                      <img [src]="homeData.image_about_us_mobile" class="card-img-top img-fluid" alt="Content Image">
                      <div class="card-body">
                        <h4 class="card-title">About Us</h4>
                        <p class="card-text" [innerHTML]="homeData.content_about_us_mobile"></p>
                      </div>
                    </div>
                  </div>
    
      </div>
    
      <!-- blocks 2 Our Values-->
      <!-- id section-1, color y, image order-md-2, text order-md-1 -->
      <div class="row content-block bg-color-y"  id="section-1" *ngIf="homeData.content_our_values_desktop">
                  <!-- Desktop view: Image on the right, Text on the left -->
                  <div class="col-md-6 d-none d-md-block order-md-2">
                    <img [src]="homeData.image_our_values_desktop" class="img-fluid" alt="Content Image">
                  </div>
                  <div class="col-md-6 content-center d-none d-md-block order-md-1">
                    <div class="card mx-auto fade-in"> <!-- Center card on mobile -->
                      <div class="card-body">
                        <h4 class="card-title">Our Values</h4>
                        <p class="card-text" [innerHTML]="homeData.content_our_values_desktop"></p>
                      </div>
                    </div>
                  </div>
              
                  <!-- Mobile view: Image above, Text below -->
                  <div class="col-12 d-block d-md-none">
                    <div class="card mx-auto fade-in">
                      <img [src]="homeData.image_our_values_mobile" class="card-img-top img-fluid" alt="Content Image">
                      <div class="card-body">
                        <h4 class="card-title">Our Values</h4>
                        <p class="card-text" [innerHTML]="homeData.content_our_values_mobile"></p>
                      </div>
                    </div>
                  </div>

        </div>
        
        <!-- blocks 3 Who are we-->
        <!-- id section-2, color x, image order-md-1, text order-md-2 -->
        <div class="row content-block bg-color-x"  id="section-2" *ngIf="homeData.content_who_are_we_desktop">
          <!-- Desktop view: Image on the left, Text on the right -->
          <div class="col-md-6 d-none d-md-block order-md-1">
            <img [src]="homeData.image_who_are_we_desktop" class="img-fluid" alt="Content Image">
          </div>
          <div class="col-md-6 content-center d-none d-md-block order-md-2">
            <div class="card mx-auto fade-in"> <!-- Center card on mobile -->
              <div class="card-body">
                <h4 class="card-title">Who Are We?</h4>
                <p class="card-text" [innerHTML]="homeData.content_who_are_we_desktop"></p>
              </div>
            </div>
          </div>
      
          <!-- Mobile view: Image above, Text below -->
          <div class="col-12 d-block d-md-none">
            <div class="card mx-auto fade-in">
              <img [src]="homeData.image_who_are_we_mobile" class="card-img-top img-fluid" alt="Content Image">
              <div class="card-body">
                <h4 class="card-title">Who Are We?</h4>
                <p class="card-text" [innerHTML]="homeData.content_who_are_we_mobile"></p>
              </div>
            </div>
          </div>

  </div>
    </div>
    
    
    <!-- Footer -->
    <footer class="bg-dark text-light pt-5 pb-3">
        <div class="footer-wrapper mx-auto">
          <div class="row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-12 mb-4 px-5">
              <h5>About</h5>
              <ul class="list-unstyled">
                <li><a href="#section-0">About Us</a></li>
                <li><a href="#section-1">Our Values</a></li>
                <li><a href="#section-2">Who are we?</a></li>
              </ul>
            </div>
      
            <!-- Contact Section -->
            <div class="col-lg-4 col-md-12 mb-4 px-5">
              <h5>Contact</h5>
              <ul class="list-unstyled">
                <li><a [routerLink]="['/contact']" >Help Center</a></li>
                <li><a [routerLink]="['/contact']" >Contact Us</a></li>
              </ul>
            </div>
      
            <!-- Follow Us Section -->
            <div class="col-lg-4 col-md-12 mb-4 px-5">
              <h5>Follow Us</h5>
              <ul class="list-unstyled">
                <li class="me-3" *ngIf="homeData['link_facebook']">
                  <a [href]="homeData['link_facebook']" target="_blank"><i class="bi bi-facebook"></i> Facebook</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_instagram']">
                  <a [href]="homeData['link_instagram']" target="_blank"><i class="bi bi-instagram"></i> Instagram</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_x']">
                  <a [href]="homeData['link_x']" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_linkedin']">
                  <a [href]="homeData['link_linkedin']" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_youtube']">
                  <a [href]="homeData['link_youtube']" target="_blank"><i class="bi bi-youtube"></i> YouTube</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_pinterest']">
                  <a [href]="homeData['link_pinterest']" target="_blank"><i class="bi bi-pinterest"></i> Pinterest</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_snapchat']">
                  <a [href]="homeData['link_snapchat']" target="_blank"><i class="bi bi-snapchat"></i> Snapchat</a>
                </li>
                <li class="me-3" *ngIf="homeData['link_tiktok']">
                  <a [href]="homeData['link_tiktok']" target="_blank"><i class="bi bi-tiktok"></i> TikTok</a>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
      </footer>
      
  </div>
  