<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-2" href="#">Gojapan</a>
  <ng-container *ngIf="full_name!='' && full_name">
    <span class="full-name">{{full_name}} </span>
    <span class="details">&nbsp;| {{role}} | {{user_id}}</span>
  </ng-container>
  <!-- Profile Picture for Mobile (Second Right) -->
  <div class="d-lg-none ms-auto">
    <img *ngIf="isLoggedIn()" src="{{userProfilePic}}" alt="Profile" class="profile-pic me-3" [routerLink]="['/profile-settings']"/>
  </div>

  <!-- Burger Menu -->
  <button class="navbar-toggler bg-base2 me-1" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link btn-custom" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-custom" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contact']" class="nav-link btn-custom" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/my-class']" class="nav-link btn-custom">My Class</a>
      </li>
      <!-- Show Login or Logout depending on isLoggedIn() -->
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link btn-custom" href="javascript:void(0)" (click)="openLoginModal()">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link btn-custom" href="javascript:void(0)" (click)="logout()">Logout</a>
      </li>

      <!-- Profile Picture for Desktop (Top Right) -->
      <li class="nav-item d-none d-lg-block">
        <img *ngIf="isLoggedIn()" src="{{userProfilePic}}" alt="Profile" class="profile-pic ms-1 me-1" [routerLink]="['/profile-settings']"/>
      </li>
    </ul>
  </div>
</nav>

  

  <!-- Login Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'d-block': showLoginModal}" style="background-color: rgba(0,0,0,0.5)">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content position-relative">
        <!-- Outer Circle (using Bootstrap) -->
        <div class="circle-outer bg-white text-white rounded-circle position-absolute top-0 start-50 translate-middle d-flex justify-content-center align-items-center">
          <!-- Inner Circle and Padlock -->
          <div class="bg-primary rounded-circle d-flex justify-content-center align-items-center" style="width: 80px; height: 80px;">
            <i class="bi bi-lock-fill fs-3 text-white"></i>
          </div>
        </div>

        <!-- Close button at the top right -->
        <div class="modal-header border-0">
          <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="closeLoginModal()"></button>
        </div>

        <!-- Modal title (Login Now) centered below the close button -->
        <div class="text-center mb-2">
          <h5 class="modal-title">Login Now</h5>
        </div>

        <div class="modal-body">
          <form (submit)="onLogin($event)">
            <!-- Email input -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input [(ngModel)]="email" name="login-email"  type="email"  class="form-control" placeholder="Enter your email" required>
            </div>

            <!-- Password input -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input [(ngModel)]="password" name="login-password" type="password"  class="form-control" placeholder="Enter your password" required>
            </div>

            <!-- Login button -->
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>

        <!-- Switch to Sign-Up Modal -->
        <div class="modal-footer justify-content-center">
          <a href="#" class="text-primary" (click)="switchToSignUp($event)">Don't have an account?</a>
          <a href="#" class="text-primary" (click)="switchToResetPassword($event)">Forget Password?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sign-Up Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'d-block': showSignUpModal}" style="background-color: rgba(0,0,0,0.5)">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content position-relative">
        <!-- Outer Circle (for Sign-Up) -->
        <div class="circle-outer bg-white text-white rounded-circle position-absolute top-0 start-50 translate-middle d-flex justify-content-center align-items-center">
          <!-- Inner Circle and Person-Plus Icon -->
          <div class="bg-success rounded-circle d-flex justify-content-center align-items-center" style="width: 80px; height: 80px;">
            <i class="bi bi-person-plus-fill fs-3 text-white"></i>
          </div>  
        </div>

        <!-- Close button at the top right -->
        <div class="modal-header border-0">
          <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="closeSignUpModal()"></button>
        </div>

        <!-- Modal title (Sign Up Now) centered below the close button -->
        <div class="text-center mb-2">
          <h5 class="modal-title">Sign Up Now</h5>
        </div>

        <div class="modal-body">
          <form (submit)="onSignUp($event)">
            <!-- Full Name input -->
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <div class="input-group mb-3">
                <!-- Input field for full name -->
                <input [(ngModel)]="full_name" name="signup-full_name" type="text" class="form-control" placeholder="Enter your full name" required>
                
                <!-- Right icon for success check -->
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(full_name, 'full_name')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(full_name, 'full_name')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div>
            </div>

            <!-- Phone input -->
            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="phone_number" name="signup-phone" type="tel" class="form-control" placeholder="Enter your phone number" required>
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(phone_number, 'phone_number')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(phone_number, 'phone_number')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div>
              
            </div>

            <!-- Email input -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="email" name="signup-email"  type="email"  class="form-control" placeholder="Enter your email" required>
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(email, 'email')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(email, 'email')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div>
            </div>

            <!-- Password input -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="password" name="signup-password" type="password"  class="form-control" placeholder="Enter your password" required>
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(password, 'password')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(password, 'password')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Confirmation Password</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="confirm_password" name="signup-confirm-password" type="password"  class="form-control" placeholder="Enter your password" required>
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(password, 'password')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(password, 'password')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div>
            </div>
            <!-- Sign Up button -->
            <button type="submit" class="btn btn-success w-100">Sign Up</button>
          </form>
        </div>

        <!-- Switch to Login Modal -->
        <div class="modal-footer justify-content-center">
          <a href="#" class="text-success" (click)="switchToLogin($event)">Already have an account? Log in</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Reset Password Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'d-block': showResetPasswordModal}" style="background-color: rgba(0,0,0,0.5)">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content position-relative">
        <!-- Outer Circle (using Bootstrap) -->
        <div class="circle-outer bg-white text-white rounded-circle position-absolute top-0 start-50 translate-middle d-flex justify-content-center align-items-center">
          <!-- Inner Circle and Reset Password Icon -->
          <div class="bg-danger rounded-circle d-flex justify-content-center align-items-center" style="width: 80px; height: 80px;">
            <i class="bi bi-envelope-fill fs-3 text-white"></i> <!-- Icon for email -->
          </div>
        </div>

        <!-- Close button at the top right -->
        <div class="modal-header border-0">
          <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="closeResetPasswordModal()"></button>
        </div>

        <!-- Modal title (Reset Password) centered below the close button -->
        <div class="text-center mb-2">
          <h5 class="modal-title">Reset Your Password</h5>
        </div>

        <div class="modal-body">
          <form (submit)="onResetPassword($event)">
            <!-- Email input -->
            <div class="mb-3">
              <label class="form-label">Email</label>
              <div class="input-group mb-3">
                <input [(ngModel)]="email" name="reset-email"  type="email"  class="form-control" placeholder="Enter your email" required>
                <span class="input-group-text bg-transparent border-1">
                  <i *ngIf="isValid(email, 'email')" class="bi bi-check-circle-fill text-success"></i>
                  <i *ngIf="!isValid(email, 'email')" class="bi bi-x-circle-fill text-warning"></i>
                </span>
              </div> 
            </div>
            

            <!-- Reset Password Button -->
            <button type="submit" class="btn btn-danger w-100" [disabled]="isResetButtonDisabled">
              Reset Password
            </button>

            <!-- Timer countdown for enabling reset password button -->
            <div *ngIf="isResetButtonDisabled" class="mt-3 text-center">
              <p>Try again in: {{ countdown }} seconds</p>
            </div>
          </form>

          <div *ngIf="isResetEmailSent" class="mt-3 text-center text-success">
            <p>A reset password link has been sent to your email. Please check your inbox!</p>
          </div>

          <div *ngIf="isResetEmailError" class="mt-3 text-center text-danger">
            <p>An error occurred. Please try again later.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

