/* Basic styling for the button */
.btn-custom {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded edges */
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
  text-decoration: none;
}

/* Pseudo-element for the background animation */
.btn-custom::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 99, 99);
  z-index: -1;
  transition: bottom 0.2s ease;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* On hover, animate the background from bottom to top */
.btn-custom:hover::before {
  bottom: 0;
}

/* Change the text color on hover */
.btn-custom:hover {
  color: #fff;
}

/* Profile Picture Styling */
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle-outer {
  width: 100px;
  height: 100px;
  top: -50px; /* Moves the circle upwards to be partially above the modal */
}

/* Handle alignment for mobile and desktop */
@media (max-width: 991px) {
/* Profile picture will be second right in mobile view */
.navbar .profile-pic {
  order: 2;
}
}
